.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo {
    /* font-size: 90px; */
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
    font-family: var(--fuente-mecanografia);
    animation: blink 800ms steps(26) infinite normal;    
    border-right: 5px solid #efefef;
}

@media(min-width:768px){
    .titulo{
        animation: typewriter 3s steps(26) infinite alternate,
        blink 800ms steps(26) infinite normal;
    }
}

@keyframes typewriter {
    0% {
        width: 0%;
    }
    20% {
        width: 0%;
    }
    60% {
        width: 61%;
    }
    100% {
        width: 61%;
    }
}

@keyframes blink {
    from {
        border-color: #efefef;
    }
    to {
        border-color: transparent;
    }
}

.formulario{
    display: grid;
    gap: 4rem;
    grid-template-columns: 12fr;
    align-items: center;
}

@media(min-width:768px){
    .formulario{
        grid-template-columns: 4fr 1fr;
        align-items: flex-start;
    }
}

.textbox{    
    all: unset;
    display: block;
    width: 100%;
    padding: 1rem;
    border: .5px solid #efefef;    
    border-radius: .5rem;
    color: var(--blanco);    
}

.submitButton{        
    all: unset;
    cursor: pointer;
    display: block;    
    background-color: #efefef;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary);
    border: 2px solid #efefef;
    /* border-radius: .5rem; */
    padding: 1rem 5rem;
    transition-property: background-color;
    transition-duration: .3s;
}
